atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
Django==2.2.13
django-cors-headers==3.0.2
django-templated-mail==1.1.1
djangorestframework==3.9.4
djangorestframework-simplejwt==4.3.0
djoser==1.7.0
Faker==1.0.7
idna==2.8
importlib-metadata==0.17
more-itertools==7.0.0
packaging==19.0
pluggy==0.12.0
psycopg2==2.8.2
py==1.8.0
PyJWT==1.7.1
pyparsing==2.4.0
pytest==4.6.2
pytest-cov==2.7.1
pytest-django==3.5.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
urllib3==1.25.3
wcwidth==0.1.7
zipp==0.5.1
